<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guibibi Light</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.0.0/cash.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <button id='on'>Turn on</button>
        <button id="off">Turn off</button>
    </div>
    <div>
        <button id="white">White</button>
        <button id="colour">Colour</button>
    </div>
    <div>
        <button id="police">Police light</button>
    </div>
</body>


</html>